---
import type { Playlist } from "@/lib/data";

interface props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;

const artistString = artists.join(", ");
---

<a
  href={`/playlist/${id}`}
  class="playlist-item flex relative p-2 overflow-hidden items-center gap-4 rounded-md hover:bg-zinc-800"
>
  <picture class="h-12 w-12 flex-none">
    <img src={cover} alt={`Cover of ${cover} by ${artistString}`} />
  </picture>
  <div class="flex flex-auto flex-col truncate">
    <h4 class="text-md text-white">
      {title}
    </h4>
    <p class="text-xs text-gray-400">
      {artistString}
    </p>
  </div>
</a>
